*{
  box-sizing: border-box;
}

body {
  /* background-color: oldlace; */
    background: linear-gradient(90deg, rosybrown, peachpuff);
    font-family: 'Bad Script', cursive;
}
h1 {
      font-size: 100px;
      font-family:'Arizonia', cursive;
      text-align: center;
    }
h2,h3 {
    font-family:'Arizonia', cursive;
}
h2{
    font-size: 60px;
}
h3{
    font-size: 50px;
}
.main-nav{
  background-color: black;
  color: white;
  list-style: none;
}
.main-nav li{
    display: inline-block;
    font-size: 24px;
    margin:0 20px 0  40px;
}
.main-nav a{
    color:white;
    text-decoration: none;
    /*background-color:palevioletred;*/
    padding: 10px;
    display: block;
    margin: 20px;
}
.main-nav a:hover{
    background-color: white;
    color: black;
}
main > aside, main > section {
  display: inline-block;
}
main >aside{
    width: 15%;
    background-color: mistyrose;
    text-align: center;
    padding: 0;
    margin: 30px;
}
main > section {
    width: 55%;
    background-color: mistyrose;
    text-align: center;
    margin: 25px;
}
